<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAO.Properties.Settings.pilotohitronConnectionString"
            connectionString="Data Source=ENGENHARIA_HITR;Initial Catalog=pilotohitron;User ID=consulta"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>